<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <ul>
            <li ng-repeat="contact in contacts track by $index">
                <contact-details contact="contact"></contact-details>
            </li>
        </ul>

        <button ng-click="run()">Run</button>
        <button ng-click="clean()">Clean</button>
        <button ng-click="loadData()">Load Data</button>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>